{% extends "navigation.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}


{% endblock %}



{% block scripts %}

{{ super() }}
    <link href="./static/assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="./static/assets/css/paper-bootstrap-wizard.css" rel="stylesheet" />

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link href="./static/assets/css/demo.css" rel="stylesheet" />

	<!-- Fonts and Icons -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
	<link href="./static/assets/css/themify-icons.css" rel="stylesheet">

	<!-- Core JS files -->
	<script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
	<script src="./static/assets/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="./static/assets/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>

	<!--  Plugin for the Wizard -->
	<script src="./static/assets/js/paper-bootstrap-wizard.js" type="text/javascript"></script>

	<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
	<script src="./static/assets/js/jquery.validate.min.js" type="text/javascript"></script>
	<script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="//js.stripe.com/v2/"></script>


{% endblock %}

{% block content %}
<script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="//js.stripe.com/v2/"></script>

 <div class="container">
	        <div class="row">
		        <div class="col-sm-8 col-sm-offset-2">
<!--  Start OF NEW MODAL-->
		            <div class="wizard-container">
		                <div class="card wizard-card" data-color="green" id="wizard">
		                <form method="POST" action="/pay" id="add_site">
							{{ form.hidden_tag() }}
							<input type="hidden" id="stripeToken" name="stripeToken" />
   	 						<input type="hidden" id="stripeEmail" name="stripeEmail" />

		                <!--        You can switch " data-color="green" "  with one of the next bright colors: "blue", "azure", "orange", "red"       -->

		                    	<div class="wizard-header">
		                        	<h3 class="wizard-title">Add a new site</h3>
		                        	<p class="category">This information will let us know more about the website</p>
		                    	</div>
								<div class="wizard-navigation">
									<div class="progress-with-circle">
									    <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4" style="width: 20%;"></div>
									</div>
									<ul>
			                            <li>
											<a href="#website" data-toggle="tab">
												<div class="icon-circle">
													<i class="ti-map"></i>
												</div>
												<center>Website</center>
											</a>
										</li>
			                            <li>
											<a href="#basics" data-toggle="tab">
												<div class="icon-circle">
													<i class="ti-direction-alt"></i>
												</div>
												Basics
											</a>
										</li>
			                            <li>
											<a href="#options" data-toggle="tab">
												<div class="icon-circle">
													<i class="ti-panel"></i>
												</div>
												Extra Options
											</a>
										</li>
										<li>
											<a href="#checkout" data-toggle="tab">
												<div class="icon-circle">
													<i class="ti-credit-card"></i>
												</div>
												Checkout
											</a>
										</li>
			                        </ul>
								</div>
		                        <div class="tab-content">
		                            <div class="tab-pane" id="website">
		                            	<div class="row">
		                                	<div class="col-sm-12 ">
		                                    	<h5 class="info-text"> Let's start with the website</h5>
		                            		</div>
		                                	<div class="col-sm-10 col-sm-offset-1">
		                                    	<div class="form-group">
													{{ wtf.form_field(form.domain_name, type="text", class="form-control", placeholder= "What website should we add? ex: nytimes.com" ) }}
		                                    	</div>
		                                	</div>
		                            	</div>
		                            </div>
		                            <div class="tab-pane" id="basics">
		                                <h5 class="info-text">How often should we take a screenshot?</h5>
		                                <div class="row">
		                                    <div class="col-sm-10 col-sm-offset-1 center">
		                                    	<div class="form-group">
													{{ wtf.form_field(form.rate, class="form-control", id="rate" ) }}
		                                    	</div>
		                                    </div>
		                                </div>
		                            </div>
		                            <div class="tab-pane" id="options">
		                                <h5 class="info-text">Let's pick some options </h5>
		                                <div class="row">
		                                    <div class="col-sm-4 col-sm-offset-1">
												<p>Track Article Page Screenshots too?</p>
												{{ form.article }}
												<!--
													<div class="choice" data-toggle="wizard-checkbox">
		                                                <div class="card card-checkboxes card-hover-effect">

		                                                    <i class="ti-home"></i>
															<p>Track Article Pages?</p>
		                                                </div>
		                                            </div>
		                                            -->
											</div>
		                                    <div class="col-sm-4 col-sm-offset-1">
												<p>Track Mobile Screenshots too?</p>
												{{ form.mobile }}
												<!--
													<div class="choice" data-toggle="wizard-checkbox">

		                                                <div class="card card-checkboxes card-hover-effect">
		                                                    <i class="ti-home"></i>
															<p>Track Mobile Screenshots too?</p>
		                                                </div>
		                                            </div>
		                                            -->
											</div>
		                                </div>
		                            </div>
									<div class="tab-pane" id="checkout">
		                                <h5 class="info-text">Checkout time</h5>
		                                <div class="row">
		                                    <div class="col-lg-12 col-sm-12">
												<div class="card">
													<div class="content">
														<div class="row">
															<div class="col-xs-12 text-center">
																<p>You're signing up for our</p><br>
																<H3 id="plan">Basic Plan</H3><br>
																<H4 id="amount">$199/mo</H4><br>
															</div>
														</div>
														<div class="footer">
															<hr />
														</div>
													</div>
												</div>
											</div>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="wizard-footer">
	                            	<div class="pull-right">
	                                    <input type='button' class='btn btn-next btn-fill btn-success btn-wd' name='next' value='Next' />
	                                    <input type='submit' id="stripe-button" class='btn btn-finish btn-fill btn-success btn-wd' value='Add Site' />
									</div>

	                                <div class="pull-left">
	                                    <input type='button' class='btn btn-previous btn-default btn-wd' name='previous' value='Previous' />
	                                </div>
	                                <div class="clearfix"></div>
		                        </div>

							<script>
								 var handler = StripeCheckout.configure({
										  key: '{{ pub_key }}',
										  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
										  locale: 'auto',
										  token: function(token) {
											// Use the token to create the charge with a server-side script.
											// You can access the token ID with `token.id`
											$("#stripeToken").val(token.id);
											$("#stripeEmail").val(token.email);
											$("#add_site").submit();
										  }
										});

										var count = 0;

										function set_count(variable) {
										  count += variable;
										  if( count >0){
											$("#plan").html("Premium Plan");
											$("#amount").html("299/mo");
										  }
										  else {
											$("#plan").html("Basic Plan");
											$("#amount").html("199/mo");
										  }
										}

										$('#rate').change(function(){
											if(($(this).val() == '30') || ($(this).val() == '15') || ($(this).val() == '60')){ // or this.value == 30 minutes or 15
											set_count(1);
											}
											else {
											set_count(-1);
											}
										});


										$('#mobile').change(function(){
											if ($('#mobile').is(":checked"))
											{
												set_count(1);
											}
											else {
												set_count(-1);
											}
										});

										$('#article').change(function(){
											if ($('#article').is(":checked"))
											{
												set_count(1);
											}
											else {
												set_count(-1);
											}
										});

										$('#stripe-button').on('click', function (e) {
											// Open Checkout with further options
											handler.open({
												name: 'Stripe.com',
												description: '2 widgets',
											});
											e.preventDefault();
										});

										// Close Checkout on page navigation
										$(window).on('popstate', function() {
										  handler.close();
										});
							</script>
		                    </form>
		                </div>
		            </div> <!-- wizard container -->
				</div>
	        </div> <!-- row -->
 </div> <!--  big container -->

{%endblock%}
