{% extends "navigation.html" %}
{% block title %}Collection{% endblock %}

	{% block scripts %}
    {% endblock %}

{% block content %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-5 col-lg-offset-4 col-md-offset-3">
                        <div class="card">
                            <div class="content text-center">
                                <div class="author">
                                  <h3 class="card-title">Your Collections</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-1">
                                        <h5>12<br /><small>Collections</small></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5>2<br /><small>Sent Collections</small></h5>
                                    </div>
                                    <div class="col-md-3">
                                        <h5>24<br /><small>Saved Images</small></h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for collection in collections %}
                    <div class="col-lg-3 col-sm-6">
                        <div class="img-thumbnail">
                            <a href="{{ url_for('get_collection_images', collection=collection.id) }}" id="">
                                <span class="link-spanner"></span>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-xs-12 card-hover-effect" >
                                                {% if collection.cover_image_path %}
                                                <img src="{{ resized_img_src(collection.cover_image_path, width=400, height=300, mode='crop') }}" alt="image missing" class="img-responsive img-fluid thumbnail1" title="Image">
                                                {% else %}
                                                <img src="http://via.placeholder.com/400x300" alt="image missing" class="img-responsive img-fluid" title="">
                                                {% endif %}
                                        </div>
                                    </div>

                                    <div class="footer text-center">
                                        <hr />
                                        <div class="stats">
                                            {{ collection.name }}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
			</div>
		</div>
{% endblock %}
