{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">


{% endblock %}

{% block content %}
<div class="container">

  <form class="form-signin" method="POST" action="/login">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}

          <div class="alert alert-danger alert-dismissible" role="alert">
            {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true"> &times;</span> </button>
          </div>

        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="col-md-12" style="margin-bottom:30px;">
      <img src="{{url_for('static', filename='assets/img/icon-left-font-trans.png')}}" alt="Pagesnap logo" class="img-responsive mb-2">
    </div>


    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.password) }}
    {{ wtf.form_field(form.remember) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <br>
    <a href="{{url_for('reset_pw') }}" class="text-center">Forgot password?</a>
  </form>


</div> <!-- /container -->
{% endblock %}