{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Change Password
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">

  <form class="form-signin" method="POST" action="{{ url_for('reset_pw') }}">
<!-- flash messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}

          <div class="alert alert-danger alert-dismissible" role="alert">
            {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true"> &times;</span> </button>
          </div>

        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="col-md-12" style="margin-bottom:30px;">
      <img src="{{url_for('static', filename='assets/img/icon-left-font-trans.png')}}" alt="Pagesnap logo" class="img-responsive mb-2">
    </div>
<!-- form fields -->
    <h2 class="form-heading">Please enter your email address</h2>
      <p>We'll send you a link to reset your password.</p>
    {{ form.hidden_tag() }}
    <div class="control-group">
        {{ form.email.label(class_='control-label') }}
            <div class="controls" style="margin-bottom:20px;">
                {{ form.email(class="form-control input-medium", type="email", placeholder="",id="",label="none") }}
            </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  </form>

</div> <!-- /container -->
{% endblock %}