{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Change Password
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">

  <form class="form-signin" method="POST" action="{{ url_for('reset_pw') }}">

<!-- flash messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}

          <div class="alert alert-danger alert-dismissible" role="alert">
            {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true"> &times;</span> </button>
          </div>

        {% endfor %}
      {% endif %}
    {% endwith %}

<!-- form fields -->
    <h2 class="form-heading">Please enter your email</h2>
    {{ form.hidden_tag() }}

    <div class="control-group">
        {{ form.email.label(class_='control-label') }}
            <div class="controls">
                {{ form.email(class="form-control input-medium", type="email", placeholder="Please enter your email",id="",label="none") }}
            </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  </form>

</div> <!-- /container -->
{% endblock %}